.intro,
.intro-1 {
  font-size: 32px;
  letter-spacing: 3px;
  font-weight: 500;
  color: rgb(123, 141, 160);
  position: relative;
  float: right;
}

.sea-and-sand {
  background-color: black;
  padding-bottom: 10px;
}

.tech-1 {
  width: 360px;
  height: 330px;
  margin-left: 10px;
}

.nicholas {
  width: auto;
  height: 330px;
  margin-left: 10px;
}
