.intro, .intro-1 {
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 600;
    color: cornflowerblue;
    text-shadow: magenta 1px 1px;
    position: relative;
    float: right;
    
}

 .sea-and-sand {
     background-color: black;
     padding-bottom: 10px;
 }

 .tech-1 {
     width: 400px;
     height: 330px;
     margin-left: 10px;
 }

 .nicholas {
     width: auto;
     height: 330px;
     margin-left: 10px;

 }