.fresh-cuts {
  width: 370px;
  height: 400px;
  background-color: black;
}

.body {
  margin: auto;
  background-color: black;
  padding-bottom: 100px;
}

.tidbit {
  color: slategray;
  font-size: 32px;
  font-weight: 500;
  text-shadow: limegreen 1px 1px;
}
