 .list-inline {
    background-color: black;
    display: flexbox;
    color: cornflowerblue;
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: auto;
  }
 
#signage {
    text-decoration-line: underline;
    text-shadow:magenta 1px 1px;
    text-align: center;
    letter-spacing: 5px;
    padding: 5px;
}

#menu {
    text-shadow: magenta 1px 1px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.button {
    color: lightgreen;
    margin: 2px;
    padding-bottom: 10px;
}

 #weather-dash {
    padding-top: 20px;
    width: fit-content; 
    
    
}
 #employee-pic {
     padding-top: 20px;
  
 }

 #hockey-pic {
     padding-top: 20px;
     
 }

 #team-pic {
     padding-top: 20px;
     
 }

 #fitness-pic {
     padding-top: 20px;
     
 }

 #note-pic {
     padding-top: 20px;
     
 }