.contact-me {
    background-color: black;
    color: cornflowerblue;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 400px;
    margin: auto;
    
}

.icon {
    size: 20px;
}

.holla-at-me {
    font-size: 32px;
    text-shadow: magenta 1px 1px;
    
}

.button2 {
    color: cornflowerblue;
    font-size: 24px;
}