.page-head {
    text-align: center;
    color: magenta;
    background: black;
    text-shadow: cornflowerblue 1px 1px;
    display: block;
    letter-spacing: 2px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    
}