.nav {
   background-color: black;
   padding-top: 10px;
}

.navbar-toggler {
    background-color: cornflowerblue;
    color: lightgreen;
    padding-top: 10px 10px 10px 10px;
    margin: auto;
}

.navbar-brand {
    color: cornflowerblue;
}

.icon {
    color: cornflowerblue;
}

.nav-link {
    color: lightgreen;
    font-size: 24px;
    letter-spacing: 2px;
    text-shadow: cornflowerblue 1px 1px;
    
}